@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geist';

    src: url('./assets/GeistVF.woff2') format('woff');
}

@layer base {
    :root {
        font-family: Geist, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 100;
        color: rgba(0, 0, 0, 0.87);
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        image-rendering: optimizeQuality;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;

        --font-geist-sans: GeistSans;

        --font-geist-mono: GeistMono;

        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    .authForms {
        @apply w-80;
    }
    .inputshadow {
        box-shadow: 0px 1px 2px 0px rgba(18, 55, 105, 0.08);
    }
    .inputshadow-focus {
        box-shadow: 0px 0px 0px 3px rgba(95, 87, 255, 0.32),
            0px 0px 0px 2px #fff, 0px 0px 0px 1px #5f57ff,
            0px 1px 2px 0px rgba(50, 44, 160, 0.4);
    }
    .primary-btn-bg {
        background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.12) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            #5f57ff;

        transition: all 0.2s cubic-bezier(0.6, 0.6, 0, 1);
    }
    .primary-btn-bg:hover {
        background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.16) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            #5f57ff;
    }
    .primary-btn-bg:active {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.16) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            #5f57ff;
    }

    .primary-btn-shadow {
        /* border: 1px solid #5f57ff; */
        box-shadow: 0px 0px 0px 1px #4f47eb,
            0px 1px 2px 0px rgba(26, 19, 161, 0.5);

        position: relative;
    }
    .primary-btn-shadow::before {
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.32),
            transparent
        );
        border-radius: inherit;
        content: '';
        inset: 0;
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: xor;
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        padding: 1px;
        pointer-events: none;
        position: absolute;
    }

    /* destructive */

    .destructive-btn-bg {
        background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.12) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            #df1c41;

        transition: all 0.2s cubic-bezier(0.6, 0.6, 0, 1);
    }
    .destructive-btn-bg:hover {
        background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.16) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            #df1c41;
    }
    .destructive-btn-bg:active {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.16) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            #df1c41;
    }

    .destructive-btn-shadow {
        /* border: 1px solid #DF1C41; */
        box-shadow: 0px 0px 0px 1px #df1c41,
            0px 1px 2px 0px rgba(161, 19, 19, 0.5);

        position: relative;
    }

    .destructive-btn-shadow::before {
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.32),
            transparent
        );
        border-radius: inherit;
        content: '';
        inset: 0;
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: xor;
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        padding: 1px;
        pointer-events: none;
        position: absolute;
    }
    /* Secondary */

    .Secondary-btn-bg {
        background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.12) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            #fff;

        transition: all 0.2s cubic-bezier(0.6, 0.6, 0, 1);
    }
    .Secondary-btn-bg:hover {
        background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0.16) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            #fff;
    }
    .Secondary-btn-bg:active {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.16) 0%,
                rgba(255, 255, 255, 0) 100%
            ),
            #fff;
    }

    .Secondary-btn-shadow {
        box-shadow: 0px 0px 0px 1px rgba(18, 55, 105, 0.08),
            0px 1px 2px 0px rgba(164, 172, 185, 0.24);
        position: relative;
    }

    .Secondary-btn-shadow::before {
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.32),
            transparent
        );
        border-radius: inherit;
        content: '';
        inset: 0;
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: xor;
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        padding: 1px;
        pointer-events: none;
        position: absolute;
    }
}
