.root {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 30px;
    padding-inline-end: 2px;
    color: #52525b;
}

.root.isSelected {
    color: #18181b;
    background-color: #e5e7eb;
    border-radius: 6px;
}
.editButton {
    display: flex;
    gap: 4px;

    padding: 6px;
}

.root:hover .editIcon {
    display: block;
}

.editIcon {
    display: none;
    font-size: 20px;
}

.expandIconWrapper {
    align-items: center;
    font-size: 0;
    cursor: pointer;
    display: flex;
    height: 16px;
    justify-content: center;
    width: 16px;
    transition: transform linear 0.1s;
    transform: rotate(0deg);
    margin-left: 8px;
}

.expandIconWrapper.isOpen {
    transform: rotate(90deg);
}

.labelGridItem {
    padding-inline-start: 2px;
}

.expandIconWrapper {
    align-items: center;
    font-size: 0;
    cursor: pointer;
    display: flex;
    height: 16px;
    justify-content: center;
    width: 16px;
    transition: transform linear 0.1s;
    transform: rotate(0deg);
}

.expandIconWrapper.isOpen {
    transform: rotate(90deg);
}

.labelGridItem {
    padding-inline-start: 2px;
}

.inputWrapper {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: flex-start;
}

.textField input {
    font-size: 14px;
    padding: 6px 0;
}

.fixededitIcon {
    font-size: 20px;
}

.nodeInput {
    width: 100%;
    padding: 0px 8px;

    border: #e2e2e2 1px solid;
    border-radius: 4px;
    background-color: #f3f3f3;
}

.nodeLabel {
    width: 100%;
    padding-right: 15px;
    margin-left: 8px;
    font-size: 16px;
}
